<ng-container *ngIf="isAddUserModalOpen()">
  <div class="modal-backdrop">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Add New Member</h2>
        <button (click)="closeAddModal()" class="btn-close-icon">&times;</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addMemberForm" class="add-member-form">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input
              #name
              formControlName="name"
              type="text"
              id="name"
              placeholder="e.g. Jane Doe"
              class="form-control"
            />
            @if (
              addMemberForm.get('name')?.invalid &&
              (addMemberForm.get('name')?.touched || addMemberForm.get('name')?.dirty)
            ) {
              <small class="error-msg" *ngIf="addMemberForm.get('name')?.hasError('required')"
                >Username is required!</small
              >
            }
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              placeholder="jane@example.com"
              class="form-control"
            />
            @if (
              (addMemberForm.get('email')?.invalid && addMemberForm.get('email')?.touched) ||
              addMemberForm.get('email')?.dirty
            ) {
              <small class="error-msg" *ngIf="addMemberForm.get('email')?.hasError('required')"
                >Email is required!</small
              >
            }

            @if (addMemberForm.get('email')?.hasError('email')) {
              <small class="error-msg">Invalid email address!</small>
            }
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="role">Role</label>
              <input
                formControlName="role"
                type="text"
                id="role"
                placeholder="e.g. Senior Developer"
                class="form-control"
              />
              @if (
                addMemberForm.get('role')?.invalid &&
                (addMemberForm.get('role')?.touched || addMemberForm.get('role')?.dirty)
              ) {
                @if (addMemberForm.get('role')?.hasError('required')) {
                  <small class="error-msg">Role is required!</small>
                }
              }
            </div>

            <div class="form-group">
              <label for="department">Department</label>
              <select formControlName="department" id="department" class="form-control">
                <option value="" disabled selected>Select department...</option>
                <option value="Engineering">Engineering</option>
                <option value="Design">Design</option>
                <option value="Product">Product</option>
                <option value="Marketing">Marketing</option>
              </select>

              @if (
                addMemberForm.get('department')?.invalid &&
                (addMemberForm.get('department')?.touched || addMemberForm.get('department')?.dirty)
              ) {
                @if (addMemberForm.get('department')?.hasError('required')) {
                  <small class="error-msg">Choosing department is required!</small>
                }
              }
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn-cancel" (click)="handleAddUserCancel()">Cancel</button>
        <button class="btn-save" (click)="handleSaveMember()">Save Member</button>
      </div>
    </div>
  </div>
</ng-container>
@if (showAddUserSuccessMessage()) {
  <div class="success-message-container">
    <div class="success-card">
      <span class="success-icon">🎊</span>
      <h2>Congrats!</h2>
      <p>Member Successfully Added</p>
    </div>
  </div>
}

<ng-container *ngIf="isEditUserModalOpen()">
  <div class="modal-backdrop">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Edit Selected Member</h2>
        <button (click)="closeEditModal()" class="btn-close-icon">&times;</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="editMemberForm" class="add-member-form">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input
              type="text"
              [value]="editMemberForm.value.name"
              id="name"
              placeholder="e.g. Jane Doe"
              class="form-control"
              formControlName="name"
            />
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              [value]="editMemberForm.value.email"
              id="email"
              placeholder="jane@example.com"
              class="form-control"
              formControlName="email"
            />
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="role">Role</label>
              <input
                type="text"
                [value]="editMemberForm.value.role"
                id="role"
                placeholder="e.g. Senior Developer"
                class="form-control"
                formControlName="role"
              />
            </div>

            <div class="form-group">
              <label for="department">Department</label>
              <select
                id="department"
                [value]="editMemberForm.value.department"
                class="form-control"
                formControlName="department"
              >
                <option value="" disabled selected>Select department...</option>
                <option value="Engineering">Engineering</option>
                <option value="Design">Design</option>
                <option value="Product">Product</option>
                <option value="Marketing">Marketing</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn-cancel" (click)="handleEditUserCancel()">Cancel</button>
        <button class="btn-save" (click)="handleEditMember()">Edit Member</button>
      </div>
    </div>
  </div>
</ng-container>
@if (showEditUserSuccessMessage()) {
  <div class="success-message-container">
    <div class="success-card">
      <span class="success-icon">🎊</span>
      <h2>Congrats!</h2>
      <p>Member Successfully Edited</p>
    </div>
  </div>
}

<div class="dashboard-layout">
  <header class="dashboard-header">
    <div class="header-titles">
      <h1>Team Dashboard</h1>
      <p>Manage your team members and their roles.</p>
    </div>
    <div class="btns">
      <button class="btn-primary" (click)="openAddModal()">+ Add Member</button>
    </div>
  </header>
  <main class="dashboard-content">
    <div class="user-grid">
      @for (user of users(); track user.id) {
        <app-user-card
          [user]="user"
          (deleteCurrUser)="deleteUserById($event)"
          (editCurrMember)="editMember($event)"
        ></app-user-card>
      } @empty {
        <span class="no-users">No Users Found!</span>
      }
    </div>
  </main>
</div>
